.container{
    display: grid;
    grid-template-columns: repeat(26,16px);
    width: 416px;
    height: 416px;
    border: solid 1px red;
    background: black;
}
/* .qwerty {
    grid-area: 1 / 2 /6 /6;
    grid-row: 26 / 26; 
    border: solid 1px black;
} */
.tank-enemy {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.tank-player{

}
.wall{

}
.wood{

}
.steel{

}
.base{

}   
